@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* color: rgb(32, 32, 32); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* color: rgb(23, 23, 23); */

    font-family: 'Roboto Mono';
}

.font-mono {
    font-family: 'Roboto Mono';
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f1f5f9;
    background-color: #e2e8f0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* lift-up:hover {
    transition: transform 0.4s ease;
    transform: ;
} */
